robclaims.testharness/src/main/app/robclaims.testharness.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="WS_RobClaims_Consumer" wsdlLocation="http://localhost:8083/service?wsdl" service="SupplierIntegrationServiceSoapService" port="SupplierIntegrationServiceSoapPort" serviceAddress="http://localhost:8083/service" doc:name="Web Service Consumer"/>
    <flow name="WebPage">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="GET" doc:name="HTTP"/>
        <parse-template location="C:\DEV\Github\muledotnet-poc\robclaims.testharness\src\main\resources\testharness.html" doc:name="Return page"/>
    </flow>
    <flow name="FormPost">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="POST" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.robsclaims.com/schema/supplierintegration
---
//Some output fields where skipped as the structure is too deep (more than 2 levels).
//To add missing fields click on the scaffold icon (second on the toolbar).
{
	ns0#ClaimFNOL: {
		ns0#claim: {
			ns0#claimReference: payload.txtClaimRef,
			ns0#customerName: 'test',
			ns0#customerEmail: "test@test.com"
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="WS_RobClaims_Consumer" operation="ClaimFNOL" doc:name="Call FNOL Service"/>
        <set-payload value="{&quot;status&quot;:&quot;ok&quot;}" mimeType="application/json" doc:name="Set Payload"/>
    </flow>
</mule>
